*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.about-container{
    max-width: 1440px;
    margin: 0 auto;
}

.intro{
    display: flex;
    gap: 1.91rem;
    margin: 9.23rem 0;
    padding-top: 6.98rem;
}

.intro__paragraph{
    display: flex;
    flex-direction: column;
    gap: 2.83rem;
}

.intro__paragraph .first{
    color: #1E1D1D;
    font-size: clamp(1.61rem, calc(1.50rem + 0.55vw), 2.18rem);
    font-style: normal;
    font-weight: 300;
    line-height: 3.05369rem;
    letter-spacing: -0.06544rem;
}

.intro__paragraph .second,.intro__paragraph .third{
    color: #1E1D1D;
    font-size: clamp(1.61rem, calc(1.58rem + 0.13vw), 1.74rem);
    font-style: normal;
    font-weight: 300;
    line-height: 3.05369rem;
    letter-spacing: -0.06544rem;
}

#recoded{
    text-decoration: none;
    color: #0088ff;
}

.intro__image{
    display: flex;
    flex-direction: column;
    gap: 1.55rem;
}
.intro__image img{
    width: 438px;
    height: 450px;
    border: black 1.7px solid;
}

.intro__image span{
    font-size: clamp(0.63rem, calc(0.56rem + 0.35vw), 0.99rem);
    font-style: italic;
    font-weight: 300;
    line-height: 1.59181rem;
    
}

.intro__image p{
    font-size: clamp(0.63rem, calc(0.54rem + 0.42vw), 1.06rem);
    font-style: normal;
    font-weight: 300;
    line-height: 1.59181rem;
    
}

/* second section */

.experience-section{
    display: flex;
    margin-bottom: 9rem;
}

.title h3{
    font-size: 2.07rem;
    font-weight: 400;
    line-height: 2.898rem;
    letter-spacing: -0.06213rem;
}

.experiences{
    margin: 0 0 0 auto;
}

.experience-details{
    border-top: black 1px solid;
    padding: 22px 48px 22px 0;
}

.titleAndDate{
    display: flex;
}

.content-title h5{
    font-size: 1.26rem;
    font-weight: 700;
    line-height: 1.89rem;
    letter-spacing: -0.03125rem;
}

.content-title span{
    font-size: 1.26rem;
    font-weight: 300;
    line-height: 1.89rem;
    letter-spacing: -0.03125rem;
}

.content-date{
    margin: 0 0 0 auto;
}

.experience-paragraph{
    margin: 11px 0 27px 0;
    max-width: 760px;
    font-size: clamp(1.08rem, calc(0.96rem + 0.61vw), 1.72rem);
    font-weight: 300;
    line-height: 1.62rem;
}

/* footer */

footer {
    background-color: #F6F6F6;

}

.footer-container {
    margin: 0 auto;
    max-width: 1758px;
    display: flex;
}

.h2-div {
    margin: 0 auto 0 50px;
}

footer div h2 {
    margin: 76px 0 0 0;
    font-size: clamp(2.25rem, calc(1.43rem + 3.36vw), 5.63rem);
    line-height: 68px;
    font-weight: 400;
}

.footer-links {
    margin: 88px 50px 0px 0;
}

.link-box {
    display: flex;
    min-width: 507px;
    padding: 20px 0;
}

.link-box img {
    margin: 0 0 0 auto;
}

.linkBox-divider {
    border-top: 1.28192px solid #000000;
}


.link-box:hover {
    cursor: pointer;
}

.link-box p a {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: clamp(1.50rem, calc(1.29rem + 1.07vw), 2.63rem);
    line-height: 68px;
    font-weight: 400;

}

/* Media queries */

/* Extra small devices (phones, between 320px and 425px) */
@media only screen and (min-width: 320px) and (max-width: 425px) {
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    
    .intro-paragraph{
        text-align: center;
    }
    
    .intro__image img{
        max-width: 225px;
        max-height: 232px;
    }
    
    .intro__image p{
        display: none;
    }    

        /* second section */

        .experience-details{
            padding-right: 0;
        }

        /* footer */

    footer {
        background-color: #F6F6F6;

    }

    .footer-container {
        margin: 0 auto;
        max-width: 1758px;
        display: flex;
        flex-direction: column;
    }

    .h2-div {
        margin: 0 auto;
    }

    footer div h2 {
        margin: 76px 0 0 0;
        font-size: clamp(2.25rem, calc(1.43rem + 3.36vw), 5.63rem);
        line-height: 68px;
        font-weight: 400;
    }

    .footer-links {
        margin: 88px 50px 0px 50px;
    }

    .footer-links p {
        max-width: 65px;
    }

    .link-box {
        display: flex;
        min-width: 0;
        padding: 20px 0;
    }

    .link-box img {
        margin: 0 0 0 auto;
    }

    .linkBox-divider {
        border-top: 1.28192px solid #000000;
    }


    .link-box:hover {
        cursor: pointer;
    }

    .link-box p a {
        text-decoration: none;
        color: #000;
        font-family: Inter;
        font-size: clamp(1.50rem, calc(1.29rem + 1.07vw), 2.63rem);
        line-height: 68px;
        font-weight: 400;

    }

}

/* Large devices (laptops/desktops, 1024px and down) */
@media only screen and (max-width: 1024px) {

    .about-container{
        max-width: 992px;
        margin: 0 20px;
    }
    
    .intro{
        display: flex;
        flex-direction: column-reverse;
        gap: 1.91rem;
        margin: 9.23rem 0;
        padding: 0;
    }
    
    .intro__image{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.55rem;
    }
    
    .intro__image p{
        font-size: clamp(0.63rem, calc(0.54rem + 0.42vw), 1.06rem);
        text-align: center;
        font-weight: 300;
        line-height: 1.59181rem;
        
    }    

        /* second section */
    
        .experience-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 9rem;
        }
        
        .title h3{
            font-size: 2.07rem;
            font-weight: 400;
            line-height: 2.898rem;
            letter-spacing: -0.06213rem;
            margin-bottom:30px;
        }
        
        .experiences{
            margin: 0;
        }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1025px) {
    .about-container{
        max-width: 1440px;
        margin: 0 auto;
    }

    .intro,.experience-section{
        padding: 0 25px;
    }

    .intro-paragraph{
        text-align: start;
    }
}